/* style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: maroon;
}

.game-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.input-section {
    margin-bottom: 20px;
}

#player1Name {
    text-align: center;
    border-radius: 15px;
    border-color: maroon;
}

#player2Name {
    text-align: center;
    border-radius: 15px;
    border-color: maroon;
}

input[type="text"] {
    margin: 5px;
    padding: 8px;
    width: 90%;
    font-size: 1em;
}

.dice-section {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}

#diceImage {
    width: 100%;
    transition: transform 0.6s;
}

.dice:hover #diceImage {
    transform: rotateY(360deg) rotateX(360deg);
}

#alertMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.score-table table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background-color: maroon;
    color: white;
}

.score-table th,
.score-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#refreshButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: maroon;
    color: white;
}

#refreshButton:hover {
    background-color: #0056b3;
}

.winner {
    background-color: #4CAF50;
    /* Green color for the winner */
    color: white;
}

#scoreTableBody {
    background-color: aqua;
}